@font-face {
    font-family: 'Daydream';
    src: url('/fonts/daydream.ttf') format('truetype');
}

@font-face {
    font-family: 'Dogica';
    src: url('/fonts/dogica.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}